body{
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;  
    background-color: #212529;

}

    /* Navbar */
    .box1{
        height: 15vh;
        background-color: black;
    }
        .button-m{
            width: 100%;
        }
    /* Cuerpo central  */
    .box2{
        background-color: rgb(0, 0, 0);
        min-height: 60vh;
    }
    /* Footer  */
    .box3{
        background-color: #212529;
    }

