body{
    background-color: black;
}

    /* Navbar */
    .box1{
        height: 20vh;
        background-color: aqua;
    }
    /* Cuerpo central  */

    /* Footer  */
        .box2{
        background-color: aqua;
    }